#heading {
  color: blue;
  background-color: beige;
}

.section {
  color: aqua;
  font-size: small;
}

#box {
  height: 100px;
  width: 100px;
  background-color: darkslateblue;
  color: white;
  border: 1px solid black;
}